*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: 'Raleway', sans-serif;
    --background-website: #FFF;
    --color-primary: #0065FC;
    --color-secondary: #DEEBFF;
    --color-tertiary: #F2F2F2;
    --color-text-one: #FFF;
    --color-text-two: #000;

    --border-radius-full-top: 12px 12px 0 0;
    --border-radius-full-left: 12px 0 0 12px;
    --border-round-full-left: 12px 0 0 12px;
    --border-round-full-right: 0 12px 12px 0;
    --border-radius-medium: 16px;
}


/* General */

body {
    font-family: var(--font-family);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


/* Utils */

.hide {
    visibility: hidden;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    max-width: 1400px;
}

.cursor-pointer {
    cursor: pointer;
}

.full-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mb-20 {
    margin-bottom: 20px;
}

/* Card */

.card {
    display: flex;
    flex-flow: column wrap;
    padding: 5px;
    background: var(--color-text-one);
    border-radius: var(--border-radius-medium);
    min-height: 185px;
}

.card-without-padding {
    display: flex;
    flex-flow: column wrap;
    padding: 0;
    background: var(--color-text-one);
    border-radius: var(--border-radius-medium);
}

.card-img {
    object-fit: cover;
    width: 100%;
    height: 115px;
    border-radius: var(--border-radius-full-top);
}

.card-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3% 3% 0 3%;
    height: 70px;
}

.card-heading {
    color: var(--color-text-two);
    font-size: 14px;
}

.card-price {
    margin: 3% 0;
    color: var(--color-text-two);
    font-size: 12px;
}

.card-stars {
    margin-top: auto;
    font-size: 12px;
    color: var(--color-primary);
}

.card-stars .empty {
    color: var(--color-tertiary);
}

.card-column {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    min-height: 135px;
}

.card-column .card-img {
    height: inherit;
    width: 115px;
    max-width: 115px;
    min-width: 115px;
    height: 130px;
    border-radius: var(--border-radius-full-left);
}

.card-column .card-details {
    height: auto;
}

.card-column .card-stars {
    margin-bottom: 4%;
}

/* Header */

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-logo {
    display: block;
    margin: 43px 0 0 30px;
    height: 45px;
}

.header-heading {
    order: 3;
    flex-basis: 100%;
    margin: 38px 0 0 15px;
}

.header-heading h1 {
    font-size: 22px;
    font-weight: 600;
    margin: 0;
}

.header-heading p {
    font-size: 16px;
    font-weight: 400;
    margin: 9px 0 0 0;
}


/* Navigation */

.navigation {
    position: absolute;
    right: 20px;
    width: 315px;
}

.navigation ul {
    display: flex;
    justify-content: space-around;
}

.navigation a {
    display: block;
    padding: 45px 25px 0 25px;
    min-height: 80px;
    border-top: 3px solid transparent;
    color: #000;
    font-weight: 500;
    text-align: center;
    transition: .25s;
}

.navigation .navigation-active,
.navigation a:hover {
    border-top: 3px solid var(--color-primary);
    color: var(--color-primary);
}


/* Search */

.search {
    --size-search-elements: 50px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.search-form {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.search-form label,
.search-form input,
.search-form button {
    height: var(--size-search-elements);
}

.search-form label {
    position: relative;
    width: var(--size-search-elements);
    flex: 0 0 auto;
    background: var(--color-tertiary);
    border-radius: var(--border-round-full-left);
    font-size: 18px;
}

.search-form input[type="search"] {
    padding: 1%;
    width: 235px;
    font: 700 18px var(--font-family);
    border: 2px solid var(--color-tertiary);
    border-left: 2px solid transparent;
    border-right: none;
}

.search-form input[type="search"]:focus {
    outline: none;
    border: 2px solid var(--color-primary);
    border-right: none;
}

.search-form button {
    padding: 0 1%;
    width: 135px;
    background: var(--color-primary);
    color: var(--color-text-one);
    font: 600 18px var(--font-family);
    border: 2px solid transparent;
    border-radius: 0 16px 16px 0;
}

.search-form button:focus {
    background: var(--color-secondary);
    outline: none;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
}


/* Filters */

.search-filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    margin-left: 30px;
}

.search-filters h2 {
    margin-right: 35px;
    font-size: 18px;
    font-weight: 700;
}

.search-filters-items {
    display: flex;
    column-gap: 25px;
}

.search-filters-item {
    display: flex;
    align-items: center;
    padding: 0 20px 0 0;
    height: var(--size-search-elements);
    background: var(--color-text-one);
    border: 3px solid var(--color-tertiary);
    border-radius: var(--size-search-elements);
}

.search-filters-item-icon {
    flex-shrink: 0;
    width: calc(var(--size-search-elements) + 0px);
    height: calc(var(--size-search-elements) + 0px);
    position: relative;
    margin: 0 11px 0 -4px;
    background: var(--color-secondary);
    border-radius: var(--size-search-elements);
}

.search-filters-item-icon i {
    color: var(--color-primary);
    font-size: 18px;
}

.search-filters-item-text {
    font-size: 18px;
    font-weight: 600;
}


/* Information Message */

.information-icon {
    position: relative;
    margin-right: 10px;
    padding: 10px;
    width: 24px;
    height: 24px;
    border: 1px solid var(--color-tertiary);
    border-radius: 50%;
    font-size: 14px;
    color: var(--color-primary);
}

.search-information-message {
    display: flex;
    align-items: center;
    margin: 35px 0 0 20px;
    font: 500 16px var(--font-family);
}


/* Lodgments */

.lodgments {
    display: flex;
    column-gap: 40px;
    margin-top: 30px;
}

.lodgments-city,
.lodgments-popular {
    padding: 30px;
    background: var(--color-tertiary);
    border-radius: var(--border-radius-medium);
}

.lodgments-city {
    --gap: 25px;
    flex: 5 1 70%;
    display: flex;
    flex-direction: column;
}

.lodgments-city-cards {
    display: flex;
    flex-flow: row wrap;
    gap: var(--gap);
}

.lodgments-city-card {
    flex: 1 1 calc( (100% / 3) - var(--gap));
}

.show-more {
    margin-top: 4%;
    font-weight: 700;
    color: var(--color-text-two);
}


.lodgments-popular {
    --gap: 25px;
    flex: 1 0 25%;
    padding-bottom: 5px;
}

.lodgments-popular-cards {
    display: flex;
    flex-flow: column wrap;
}

.lodgments-popular-card {
    margin-bottom: var(--gap);
}

.lodgments-popular-heading {
    display: flex;
    justify-content: space-between;
}

