*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: 'Raleway', sans-serif;
    --background-website: #FFF;
    --color-primary: #0065FC;
    --color-secondary: #DEEBFF;
    --color-tertiary: #F2F2F2;
    --color-text-one: #FFF;
    --color-text-two: #000;

    --border-round-full-left: 12px 0 0 12px;
    --border-round-full-right: 0 12px 12px 0;
}


/* General */

body {
    background: var(--background-website);
    font-family: var(--font-family);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


/* Utils */

.container {
    margin: 0 auto;
    max-width: 1440px;
}

.cursor-pointer {
    cursor: pointer;
}

.full-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Header */

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-logo {
    display: block;
    margin: 45px 0 0 0;
    height: 45px;
}

.header-heading {
    order: 3;
    flex-basis: 100%;
    margin: 38px 0 0 0;
}

.header-heading h1 {
    font-size: 22px;
    margin: 0;
}

.header-heading p {
    font-size: 16px;
    font-weight: 500;
    margin: 9px 0 0 0;
}


/* Navigation */

.navigation ul {
    display: flex;
}

.navigation a {
    display: block;
    width: 165px;
    min-height: 80px;
    padding-top: 28%;
    border-top: 3px solid transparent;
    color: #000;
    font-weight: 500;
    text-align: center;
    transition: .25s;
}

.navigation .navigation-active,
.navigation a:hover {
    border-top: 3px solid var(--color-primary);
    color: var(--color-primary);
}


/* Search */

.search {
    --size-search-elements: 40px;
    margin-top: 20px;
}

.search-form {
    display: flex;
    flex-direction: row;
}

.search-form label,
.search-form input,
.search-form button {
    height: var(--size-search-elements);
}

.search-form label {
    position: relative;
    width: var(--size-search-elements);
    flex: 0 0 auto;
    background: var(--color-tertiary);
    border-radius: var(--border-round-full-left);
}

.search-form input {
    padding: 1%;
    font-weight: 600;
    border: 2px solid var(--color-tertiary);
    border-left: none;
    border-right: none;
}

.search-form button {
    padding: 0 1%;
    background: var(--color-primary);
    color: var(--color-text-one);
    font-weight: 600;
    border: none;
    border-radius: var(--border-round-full-right);
}